---
import Layout from "../layouts/Layout.astro"
import medias from "../data.json"
---

<Layout uid="home" template="home">
  <div data-gallery-container class="container">
    <div class="header">
      <h1
        data-text-animation-in-duration="0.5"
        data-text-animation-out-duration="0.4"
        data-text-animation-in-delay="0.1"
        data-text-animation-type="vertical"
        data-text-animation
      >
        Our Selection
      </h1>
    </div>
    <div class="grid-container">
      <div class="grid">
        <a href="/1">
          <img loading="eager" data-flip-id="img" src={medias[0].url} alt="" />
          <p data-text-animation>{medias[0].name}</p>
        </a>
      </div>
      <div class="grid">
        <a href="/2">
          <img loading="eager" data-flip-id="img" src={medias[1].url} alt="" />
          <p data-text-animation>{medias[1].name}</p>
        </a>
        <a href="/3">
          <img loading="eager" data-flip-id="img" src={medias[2].url} alt="" />
          <p data-text-animation>{medias[2].name}</p>
        </a>
      </div>
      <div class="grid">
        <a href="/4">
          <img loading="eager" data-flip-id="img" src={medias[3].url} alt="" />
          <p data-text-animation>{medias[3].name}</p>
        </a>
      </div>
      <div class="grid">
        <a href="/5">
          <img loading="eager" data-flip-id="img" src={medias[4].url} alt="" />
          <p data-text-animation>{medias[4].name}</p>
        </a>
      </div>
      <div class="grid">
        <a href="/7">
          <img loading="eager" data-flip-id="img" src={medias[6].url} alt="" />
          <p data-text-animation>{medias[6].name}</p>
        </a>
        <a href="/6">
          <img loading="eager" data-flip-id="img" src={medias[5].url} alt="" />
          <p data-text-animation>{medias[5].name}</p>
        </a>
      </div>
    </div>
  </div>
</Layout>
